/*listpage.html*/
#navbar {
    z-index: 999;
    width: 100%;
    height: 80px;
}

.logoTop {
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 10px 20px;
}

.form-floating>.form-select {
    padding-top: 8px;
    margin-top: 8px;
}

.guBox {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    margin: 10px 20px;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
}

#gulist {
    width: 200px;
    height: 30px;
    font-weight: bold;
}

#title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
}

#list-box {
    width: 100%;
    margin: 120px 0;
}

.list-box {
    width: 100%;
    height: 280px;
    margin: 0px auto;
    padding: 40px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.list-box:hover {
            cursor: pointer;
            opacity: 50%;
        }

.rank {
    float: left;
    width: 150px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.mainImg {
    float: left;
    width: 200px;
    height: 200px;
}

.mainImg img {
    width: 200px;
    height: 200px;
}

.detail {
    float: left;
    width: 500px;
    height: 200px;
    padding: 0 30px;
}

.detail p {
    margin: 40px 0px;
}

.score {
    float: right;
    width: 300px;
    height: 200px;
}

.score p {
    margin: 40px 0;
}
