/*listpage.html*/
#navbar {
    z-index: 999;
    width: 100%;
    height: 80px;
}

.logoTop {
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 10px 20px;
}

.form-floating>.form-select {
    padding-top: 8px;
    margin-top: 8px;
}

.guBox {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    margin: 10px 20px;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
}

#gulist {
    width: 160px;
    height: fit-content;
    font-weight: bold;
    border-color: rgba(0,0,0,0.2);
    padding: 8px;
    font-weight: 400;
    border-radius: 4px;
    font-size: 14px;
}

select::-ms-expand {
	display: none;
}
.select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
}

#list-box {
    width: 100%;
    margin: 120px 0;
}

.list-box:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,0.015);
        }

/*리스트 컴포넌트*/








.list-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 240px;
    padding: 32px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.list-box:last-child {
    border-bottom: 0px solid rgba(0,0,0,0.1);
}



.mainImg {
    flex: none;
    order: 1;
    flex-grow: 0;
    height: 100%;
    background-size: cover;
    width: 240px;
    margin-right: 48px;
}




.detail {
    flex: none;
    order: 2;
    flex-grow: 1;
}

.detail p {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 20px 0px;
}

.score {
    flex: none;
    order: 3;
    flex-grow: 0;
    width: 240px;
    }



.score p {
    margin: 28px 0;
}

/*반응형 디자인*/

@media screen and (max-width: 1339px) {
    .container.listpage {
        max-width: 100%;
    }
}

@media screen and (min-width: 1400px) {
    .container.listpage {
        max-width: 1320px;
    }
}

@media screen and (max-width: 960px) {
    .score {
        width: 160px;
    }
}

@media screen and (max-width: 768px) {
    #list-box {
        margin-top: 40px;
    }

    .list-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;

    }

    .mainImg {
        height: 320px;
        width: 100%;
        margin: 0;
        margin-bottom: 28px;
    }

    .detail {
        margin-bottom: 16px;
    }

    .detail > p {
        margin: 8px 0;
        font-size: 1em;
    }

    .score > p {
        padding-right: 12px;
        display: inline;
    }

}



