/*review.html*/

.container.review {
    padding: 0 36px;
}

.total_review_count {
    font-weight: bold;
    float: left;
    font-size: 20px;
    padding: 0;
    margin-bottom: 24px;
}

ul li {
    max-width: 1000px;
    padding-right: 5px;
    list-style-type: none;
    float: right;
    margin: auto;
    font-size: 20px;
}

.review_box {
    width: 100%;
    margin: 12px auto 0px auto;
}

.review_box > div > textarea {
    background-color: rgba(0,0,0,0.025);
}

.textarea-label {
    color: rgba(0,0,0,0.6)
}

.review_box > div {
    margin-bottom: 16px;
}

.review_box > button {
    margin-top: 12px;
}

.list-group {
    margin: auto;
    width: 800px;
    padding-top: 0px !important;
    position: static !important;
    width: 100%;
}


.list-group-flush>.list-group-item {
    padding: 20px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 0px solid black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.comment-details {
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 25px;
    width: 40px;
    font-size:48px;
    height: 48px;
    padding-top: 12px;
}

.each_detail_reaction {
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 25px;
}

.header {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

@media screen and (max-width: 960px) {
    .header {
        flex-direction: column;
    }
}

.header_detail_reaction {
    height: 38px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 28px;
}

.total_review_count {
    flex-grow: 1;
}

.each_detail_reaction {
    float: right;
    margin: auto;
}

.review-score {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.review-score > div {
    padding-right: 16px;
}

/* 이진서-css */
.contents {
    word-wrap: break-word;
    font-size: 100%;
    line-height: 100%;
    -webkit-text-size-adjust: 100%;
    word-break: keep-all;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding: 60px 0;
    position: relative;
}

.column-contents {
    border: 0 none;
    height: fit-content;
    width: 100%;
    background-color: #fff;
    flex: 1;
    box-sizing: border-box;
    font-size: 100%;
}

.restaurant_info {
    padding: 0 0 80px 0;
}

.restaurant-score {
    margin-bottom: 36px;
}

.restaurant-score > h4 {
    margin-bottom: 16px;
}

.photo-box {
    height: fit-content;

}

/*@media screen and (max-width: 991px) {*/
/*    .photo-box {*/
/*        height: 480px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 540px) {*/
/*    .photo-box {*/
/*        height: 1020px;*/
/*    }*/
/*}*/

.img-detail {
    height: fit-content;
    float:left;
    padding: 0 16px 16px;
}

.img-detail > div {
    width: 100%;
    height: 240px;
    background-size: cover;
}

.restaurant_name {
    -webkit-box-direction: normal;
    color: #000000;
    line-height: 46px;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    border: 0 none;
    font-size: 100%;
    font-weight: normal;
    display: inline-block;
    max-width: 100%;
    word-break: break-all;
}

.column-contents > table > tbody > tr > th {
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-weight: normal;
    width: 110px;
    color: rgba(79, 79, 79, 0.6);
    line-height: 1.7;
    text-align: left;
    vertical-align: top;
    padding-right: 10px;
    padding-bottom: 5px;
}

.column-contents > table > tbody > tr > td {
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: .9rem;
    color: #4f4f4f;
    line-height: 1.7;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 5px;
}

.restaurant-photos {
    -webkit-tap-highlight-color: transparent;
    border: 0 none;
    position: relative;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 200px;
    left: 0px;
    display: block;
    transition: all 0ms ease 0s;
    transform: translate3d(0px, 0px, 0px);
    margin: 0;
}

@media screen and (max-width: 768px) {
    .restaurant-photos {
        height: 980px;
    }
}

.img-detail:first-child {
    padding-left: 0;
}

.img-detail:last-child {
    padding-right: 0;
}

@media screen and (max-width: 768px) {
    .img-detail {
        padding: 0;
    }
}