/*layout.html*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 56px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px 24px;
    background-color: #fff !important;
    z-index: 998;
}

.contents {
    width: 100%;
    max-width: 100%;
    padding: 80px 36px;
}

@media screen and (max-width: 576px) {
    .contents {
        padding: 48px 36px;
    }
}

/*index.html*/

/*상단 텍스트 및 이미지 영역*/

.index-box {
    text-align: center;
    width: fit-content;
    margin: 0px auto 80px;
}

.index-box > .title {
    margin-bottom: 12px;
}

.index-box > .paragraph {
    margin-bottom: 36px;
}

.main-img {
    width: 498px;
    height: 208px;
    background-image: url("https://c.tenor.com/bfxcDYAwqdAAAAAC/eating-food.gif");
    background-size: cover;
}

@media screen and (max-width: 576px) {
    .index-box {
        width: 100%;
        margin-bottom: 48px;
    }
    .main-img {
        width: 100%;
        height: 206px;
    }
}

/*구별 link 리스트 영역*/
.container {
    padding: 0;
}

.row {
    margin-bottom: 20px;
}

.district-link {
    width: 100%;
    height: 60px;
}

@media screen and (max-width: 768px) {
  .col-12 {
      margin-bottom: 20px;
  }
  .col-12:last-child {
    margin-bottom: 0px;
  }
}


/*listpage.html*/
#navbar {
    z-index: 999;
    width: 100%;
    height: 80px;
}

.logoTop {
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 10px 20px;
}

.form-floating>.form-select {
    padding-top: 8px;
    margin-top: 8px;
}

.guBox {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    margin: 10px 20px;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
}

#gulist {
    width: 200px;
    height: 30px;
    font-weight: bold;
}

#title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
}

#list-box {
    width: 100%;
    margin: 120px 0;
}

.list-box {
    width: 100%;
    height: 280px;
    margin: 0px auto;
    padding: 40px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.list-box:hover {
            cursor: pointer;
            opacity: 50%;
        }

.rank {
    float: left;
    width: 150px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.mainImg {
    float: left;
    width: 200px;
    height: 200px;
}

.mainImg img {
    width: 200px;
    height: 200px;
}

.detail {
    float: left;
    width: 500px;
    height: 200px;
    padding: 0 30px;
}

.detail p {
    margin: 40px 0px;
}

.score {
    float: right;
    width: 300px;
    height: 200px;
}

.score p {
    margin: 40px 0;
}

/*review.html*/
.total_review_count {
    font-weight: bold;
    float: left;
    font-size: 20px;
    padding: 0;
}

ul li {
    max-width: 1000px;
    padding-right: 5px;
    list-style-type: none;
    float: right;
    margin: auto;
    font-size: 20px;
}

.review_box {
    width: 100%;
    margin: 32px auto 0px auto;
}

.review_box > div > textarea {
    background-color: rgba(0,0,0,0.025);
}

.textarea-label {
    color: rgba(0,0,0,0.6)
}

.review_box > div {
    margin-bottom: 16px;
}

.review_box > button {
    margin-top: 12px;
}

.list-group {
    margin: auto;
    width: 800px;
    padding-top: 150px;
    position: static !important;
    width: 100%;
}


.list-group-flush>.list-group-item {
    padding: 20px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 0px solid black;
}

.header {
    height: fit-content;
}

.header_detail_reaction {
    height: 38px;
}

.each_detail_reaction {
    float: right;
    margin: auto;
}

.review-score {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.review-score > div {
    padding-right: 16px;
}

/* 이진서-css */
.contents {
    word-wrap: break-word;
    font-size: 100%;
    line-height: 100%;
    -webkit-text-size-adjust: 100%;
    word-break: keep-all;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    padding-top: 61px;
    position: relative;
}

.column-contents {
    border: 0 none;
    height: fit-content;
    width: 100%;
    background-color: #fff;
    flex: 1;
    box-sizing: border-box;
    font-size: 100%;
}

.restaurant_info {
    padding: 0 0 56px 0;
}

.restaurant-score {
    margin-bottom: 56px;
}

.restaurant-score > h4 {
    margin-bottom: 12px;
}

.img-detail {
    height: 100%;
    float:left;
    background-size: cover;
}

.img-detail > div {
    width: 100%;
    height: 100%;
}

.restaurant_name {
    -webkit-box-direction: normal;
    color: #000000;
    line-height: 46px;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    border: 0 none;
    font-size: 100%;
    font-weight: normal;
    display: inline-block;
    max-width: 100%;
    word-break: break-all;
}

.column-contents > table > tbody > tr > th {
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-weight: normal;
    width: 110px;
    color: rgba(79, 79, 79, 0.6);
    line-height: 1.7;
    text-align: left;
    vertical-align: top;
    padding-right: 10px;
    padding-bottom: 5px;
}

.column-contents > table > tbody > tr > td {
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: .9rem;
    color: #4f4f4f;
    line-height: 1.7;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 5px;
}

.restaurant-photos {
    -webkit-tap-highlight-color: transparent;
    border: 0 none;
    position: relative;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 200px;
    left: 0px;
    display: block;
    transition: all 0ms ease 0s;
    transform: translate3d(0px, 0px, 0px);
    margin: 0;
}