{% extends 'layout.html' %}
{% block content %}

<div class="index-box">
    <h1 class="title">서울 맛집 별점을 한눈에 보세요 👀</h1>
    <p class="paragraph">현재 망고플레이트/다이닝코드를 지원합니다.</p>
    <div class="main-img"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/jongno'">종로구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/jung'">중구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/yongsan'">용산구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/seongdong'">성동구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/gwangjin'">광진구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/dongdaemun'">동대문구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/jungnang'">중랑구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/seongbuk'">성북구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/gangbuk'">강북구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/dobong'">도봉구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/nowon'">노원구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/eunpyeong'">은평구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/seodaemun'">서대문구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/mapo'">마포구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/yangcheon'">양천구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/gangseo'">강서구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/guro'">구로구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/geumcheon'">금천구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/yeongdeungpo'">영등포구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/dongjak'">동작구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/gwanak'">관악구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/seocho'">서초구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/gangnam'">강남구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/songpa'">송파구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/gangdong'">관동구</button>
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>



{% endblock %}