{% extends 'layout.html' %}
{% block content %}

<div class="index-box">
    <h1 class="title">서울 맛집 별점을 한눈에 보세요 👀</h1>
    <p class="paragraph">현재 망고플레이트/다이닝코드를 지원합니다.</p>
    <div class="main-img"></div>
</div>
<div class="container index-list">
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=강남구'">강남구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=강동구'">강동구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=강북구'">강북구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=강서구'">강서구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=관악구'">관악구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=광진구'">광진구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=구로구'">구로구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=금천구'">금천구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=노원구'">노원구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=도봉구'">도봉구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=동대문구'">동대문구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=동작구'">동작구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=마포구'">마포구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=서대문구'">서대문구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=서초구'">서초구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=성동구'">성동구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=성북구'">성북구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=송파구'">송파구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=양천구'">양천구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=영등포구'">영등포구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=용산구'">용산구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=은평구'">은평구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=종로구'">종로구</button>
        </div>
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=중구'">중구</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <button type="button" class="btn btn-outline-primary district-link" onclick="location.href='/detail?dist=중랑구'">중랑구</button>
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>

{% endblock %}