{% extends 'layout.html' %}
{% block content %}


<div class="form-floating guBox">
  <select method="get" action="SelectServlet" class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option value="강남구">강남구</option>
      <option value="강동구">강동구</option>
      <option value="강북구">강북구</option>
      <option value="강서구">강서구</option>
      <option value="관악구">관악구</option>
      <option value="광진구">광진구</option>
      <option value="구로구">구로구</option>
      <option value="금천구">금천구</option>
      <option value="노원구">노원구</option>
      <option value="도봉구">도봉구</option>
      <option value="동대문구">동대문구</option>
      <option value="동작구">동작구</option>
      <option value="마포구">마포구</option>
      <option value="서대문구">서대문구</option>
      <option value="서초구">서초구</option>
      <option value="성동구">성동구</option>
      <option value="성북구">성북구</option>
      <option value="송파구">송파구</option>
      <option value="양천구">양천구</option>
      <option value="영등포구">영등포구</option>
      <option value="용산구">용산구</option>
      <option value="은평구">은평구</option>
      <option value="종로구">종로구</option>
      <option value="중구">중구</option>
      <option value="중랑구">중랑구</option>
  </select>
</div>

<!--<div class="guBox">-->
<!--                <form method="get" action="SelectServlet">-->
<!--                    <select id="gulist" name="gulist" size="1">-->
<!--                        <option value="강남구">강남구</option>-->
<!--                        <option value="강동구">강동구</option>-->
<!--                        <option value="강북구">강북구</option>-->
<!--                        <option value="강서구">강서구</option>-->
<!--                        <option value="관악구">관악구</option>-->
<!--                        <option value="광진구">광진구</option>-->
<!--                        <option value="구로구">구로구</option>-->
<!--                        <option value="금천구">금천구</option>-->
<!--                        <option value="노원구">노원구</option>-->
<!--                        <option value="도봉구">도봉구</option>-->
<!--                        <option value="동대문구">동대문구</option>-->
<!--                        <option value="동작구">동작구</option>-->
<!--                        <option value="마포구">마포구</option>-->
<!--                        <option value="서대문구">서대문구</option>-->
<!--                        <option value="서초구">서초구</option>-->
<!--                        <option value="성동구">성동구</option>-->
<!--                        <option value="성북구">성북구</option>-->
<!--                        <option value="송파구">송파구</option>-->
<!--                        <option value="양천구">양천구</option>-->
<!--                        <option value="영등포구">영등포구</option>-->
<!--                        <option value="용산구">용산구</option>-->
<!--                        <option value="은평구">은평구</option>-->
<!--                        <option value="종로구">종로구</option>-->
<!--                        <option value="중구">중구</option>-->
<!--                        <option value="중랑구">중랑구</option>-->
<!--                    </select>-->
<!--                </form>-->
<!--            </div>-->
<div class="container" id="container">
    <article id="title"><h1>서울 <span id="dist"></span> 맛집 TOP20</h1></article>
    <section id="list-box"></section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        get_list();
    });

    function get_list() {
        $.ajax({
            type: "GET",
            url: "/detail/district?district={{dist}}",
            data: {},
            success: function (response) {
                // console.log("{{dist}}")
                // console.log("pass")
                // console.log(response)

                let rows = response['result']
                document.querySelector("#dist").innerText = rows[0].restaurant_district
                const guList = document.querySelectorAll("#gulist > option")
                for (let gu of guList) {
                    // console.log(gu)
                    if (gu.value === rows[0].restaurant_district) {
                        gu.selected = true;
                    }
                }
                for (let i = 0; i < rows.length; i++) {
                    let cnt = parseInt(`${rows[i].total_score}`);
                    let starCnt = "";
                    for (let j = 0; j < cnt; j++) {
                        starCnt += "⭐";
                    }
                    let id = rows[i].mangoId;

                    let temp_html = `<div class="list-box" onclick="detailPage('${id}')">
                                        <div class="rank"><h2>${i + 1}</h2></div>
                                            <div class="mainImg"><img src="${rows[i].restaurant_img}" alt="restaurantsImg"></div>
                                            <div class="detail">
                                                <h3>${rows[i].restaurant_name}</h3>
                                                <p>${rows[i].restaurant_addr}</p>
                                                <p>${rows[i].restaurant_kind}</p>
                                            </div>
                                            <div class="score">
                                                <h3>총 <span>${rows[i].total_score}</span>${starCnt}</h3>
                                                <p><img src="../static/img/logo-mango.svg"> ${rows[i].mango_score}</p>
                                                <p><img src="../static/img/logo-dining.svg"> ${rows[i].dining_score}</p>
                                            </div>
                                      </div>`
                    $('#list-box').append(temp_html)
                }
            }
        })
    }

    function detailPage(id) {
        window.location.href="/detail/resDetail?id="+id;
    }

    $("#gulist").on("change", function (e) {
        location.href = "/detail?dist=" + $("#gulist > option:selected")[0].innerText
    })
</script>
{% endblock %}