{% extends 'layout.html' %}
{% block content %}
<div class="container review">
    <article class="restaurant_info">
        <div class="column-contents" id="restaurant">
        </div>
        <div class="container photo-box">
            <aside id="restaurant-photo" class="restaurant-photos row">
            </aside>
        </div>
    </article>
    <!--맨위에 맛평가 통계 부분-->
    <div class="header">
        <ul class="total_review_count" id="total_count"></ul>
        <ul class="header_detail_reaction">
            <li class="detail_total_review_count"><input type="radio" onclick="total_view_review()" class="btn-check"
                                                         name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-secondary btn-sm" id="total" for="btnradio1">전체 (0)</label>
            </li>
            <li class="detail_good_review_count"><input type="radio" onclick="good_filter_review()" class="btn-check"
                                                        name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" id="good" for="btnradio2">맛있다 (0)</label>
            </li>
            <li class="detail_soso_review_count"><input type="radio" onclick="soso_filter_review()" class="btn-check"
                                                        name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" id="soso" for="btnradio3">괜찮다 (0)</label>
            </li>
            <li class="detail_soso_review_count"><input type="radio" onclick="bad_filter_review()" class="btn-check"
                                                        name="btnradio" id="btnradio4" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" id="bad" for="btnradio4">별로다 (0)</label>
            </li>



<!--            <li class="lead">-->
<!--                <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">접기</button>-->
<!--            </li>-->
        </ul>
    </div>

    <!--닉네임/후기/맛평가 후 댓글 다는 부분-->
    <div class="review_box" id="open_review_box">
        <!--닉네임-->
        <div class="form-floating">
            <textarea class="form-control nickname_input-control" placeholder="닉네임" id="review_nickname"></textarea>
            <label class="textarea-label form-check-label" for="floatingTextarea">닉네임</label>
        </div>
        <!--코멘트 내용-->
        <div class="form-floating">
            <textarea class="form-control comment_input-control" placeholder="솔직한 후기를 적어주세요" id="review_comment"
                      style="height: 100px"></textarea>
            <label class="textarea-label form-check-label" for="flexRadioDefault1">솔직한 후기를 적어주세요</label>
        </div>
        <!--평가-->
        <div class="review-score">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                       value="맛있었어요">
                <label class="form-check-label" for="flexRadioDefault1">😀 맛있다</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                       value="괜찮았어요" checked>
                <label class="form-check-label" for="flexRadioDefault2">😐 괜찮다</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"
                       value="별로였어요">
                <label class="form-check-label" for="flexRadioDefault3">😓 별로다</label>
            </div>
        </div>
        <!--버튼-->
        <button onclick="save_review()" type="button" class="btn btn-primary">댓글 달기</button>
    </div>

    <!--서버에서 뿌려주는 댓글들-->
    <div id="append_review" class="list-group list-group-flush"
         style="position: absolute;left:551.5px;padding-top: 50px;margin-top: 50px;">
    </div>


<script>
    $(document).ready(function () {
        show_resDetail();
        show_review();
    });

    function show_resDetail() {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var param = url.searchParams.get("id");
        console.log(param);
        $.ajax({
            type: 'GET',
            url: "/resDetail?mangoId=" + param,
            dataType: 'json',
            data: {},
            success: function (res) {
                console.log(res)
                let resDetail = res['resDetail']
                let address = resDetail['address']
                let district = resDetail['district']
                let kind = resDetail['kind']
                let name = resDetail['name']
                let businesshours = resDetail['businesshours']
                let tel = resDetail['tel']
                let starMango = resDetail['starMango']
                let starDining = resDetail['starDining']
                let total_score = resDetail['starTotal']

                let cnt = parseInt(`resDetail['total_score']`);
                let starCnt = "";
                for (let j = 0; j < cnt; j++) {
                    starCnt += "⭐";
                }

                let imgList = res['imgList']

                let temp_html = `
                                        <h1 style="margin-bottom: 20px;">${name}</h1>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        주소
                                                    </th>
                                                    <td>
                                                    ${address}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        음식종류
                                                    </th>
                                                    <td>
                                                    ${kind}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        영업시간
                                                    </th>
                                                    <td>
                                                    ${businesshours}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        전화번호
                                                    </th>
                                                    <td>
                                                        ${tel}
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>

                                        <br>
                                        <div class="restaurant-score">
                                            <h4>총 <span>${total_score}</span>${starCnt}</h4>
                                            <span><img src="../static/img/logo-mango.svg"> ${starMango}</span>
                                            <span><img src="../static/img/logo-dining.svg"> ${starDining}</span>
                                        </div>`

                $('#restaurant').append(temp_html)

                for (let i = 0; i < imgList.length; i++) {
                    console.log(imgList[i]);
                    let temp_html2 = `<div class="col-12 col-md-3 img-detail">
                                        <div id="img-detail" style="background-image: url(${imgList[i].url});"></div>
                                    </div>
                                    `

                    $('#restaurant-photo').append(temp_html2)
                }

            }
        });
    }

    function show_review() {
            var url_string = window.location.href;
            var url = new URL(url_string);
            var param = url.searchParams.get("id");
        $.ajax({
            type: "GET",
            url: "/detail/resDetail?mangoId="+param,
            data: {},
            success: function (response) {
                //포문 돌리기용
                let rows = response['rows']

                //DB 데이터를 list 길이로 카운트해서 클라에 뿌리기
                var total = response['total']
                var bad = response['bad']
                var soso = response['soso']
                var good = response['good']

                //전체 댓글 개수
                $('#total_count').text("후기 (" + total + ")")

                //세부 댓글 개수
                $('#bad').text("별로다 (" + bad + ")")
                $('#soso').text("괜찮다 (" + soso + ")")
                $('#good').text("맛있다 (" + good + ")")
                $('#total').text("전체 (" + total + ")")

                for (i = 0; i < rows.length; i++) {
                    let nickname = rows[i]['nickname']
                    let comment = rows[i]['comment']
                    let score = rows[i]['score']
                    let time = rows[i]['time']

                    if (score == '맛있었어요') {
                        var temp_html3 = `<li class="list-group-item good">
                                            <div class="comment-details" style="font-size:48px; height: 48px;">&#128512;</div>
                                            <div class="each_detail_reaction">
                                                <p style="font-weight: bold">${nickname}</p>
                                                <small style="color: gray"><p>${time}</p></small>
                                                <p>${comment}</p>
                                            </div>
                                        </li>`
                    } else if (score == '괜찮았어요') {
                        var temp_html3 = `<li class="list-group-item soso">
                                            <div class="comment-details" style="font-size:48px; height: 48px;">&#128528;</div>
                                            <div class="each_detail_reaction">
                                                <p style="font-weight: bold">${nickname}</p>
                                                <small style="color: gray"><p>${time}</p></small>
                                                <p>${comment}</p>
                                            </div>
                                        </li>`
                    } else if (score == '별로였어요') {
                        var temp_html3 = `<li class="list-group-item bad">
                                            <div class="comment-details" style="font-size:48px; height: 48px;">&#128531;</div>
                                            <div class="each_detail_reaction">
                                                <p style="font-weight: bold">${nickname}</p>
                                                <small style="color: gray"><p>${time}</p></small>
                                                <p>${comment}</p>
                                            </div>

                                        </li>`
                    }
                    $('#append_review').append(temp_html3)
                }
            }
        })
    }

    function save_review() {
        let review_nickname = $('#review_nickname').val()
        let review_comment = $('#review_comment').val()
        let emotion = $('input[name=flexRadioDefault]:checked').val();

        var url_string = window.location.href;
        var url = new URL(url_string);
        var param = url.searchParams.get("id");

        $.ajax({
            type: "POST",
            url: "/detail/resDetail",
            data: {
                review_nickname_give: review_nickname,
                review_comment_give: review_comment,
                emotion_give: emotion,
                pageid: param
            },
            success: function (response) {
                alert(response["msg"])
                window.location.reload()
            }
        });
    }

    function good_filter_review() {
        if ($('.each_detail_reaction:contains("맛있었어요")')) {
            $('.good').show();
            $('.soso').hide();
            $('.bad').hide();
        }
    }

    function soso_filter_review() {
        if ($('.each_detail_reaction:contains("괜찮았어요")')) {
            $('.good').hide();
            $('.soso').show();
            $('.bad').hide();
        }
    }

    function bad_filter_review() {
        if ($('.each_detail_reaction:contains("별로였어요")')) {
            $('.good').hide();
            $('.soso').hide();
            $('.bad').show();
        }
    }

    function total_view_review() {
        $('.good').show();
        $('.soso').show();
        $('.bad').show();
    }

    function openClose() {
        if ($("#open_review_box").css("display") == "block") {
            $("#open_review_box").hide();
            $("#btn-post-box").text("댓글 추가 하기");
        } else {
            $("#open_review_box").show();
            $("#btn-post-box").text("접기");
        }
    }
</script>
{% endblock %}